@import "tailwindcss";
.input {
  @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500;
}

.btn-primary {
  @apply flex-1 bg-blue-600 text-white px-8 py-4 rounded-lg font-bold;
}

.btn-secondary {
  @apply flex-1 bg-purple-600 text-white px-8 py-4 rounded-lg font-bold;
}

